
table {
  background-color: #f6f6f6;
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;
}

td, th {
  border: 1px solid #999;
  text-align: left;
}

td {
  color: black;
  padding: 20px;
}

th {
  background-color: rgb(42, 165, 136);
  color: white;
  padding: 6px 12px;
  white-space: nowrap;
}

.primary {
  background-color: #000000;
}

