th {
    padding: 6px 12px;
    border: 1px solid #dfdfe2;
    text-align: left;
}

td {
    padding: 6px 12px;
}

tfoot, th {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #dfdfe2;
    letter-spacing: 0.2px;
    font-size: 1rem;
    color: black;
}